<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$configRes['webname']}</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css"/>
	<script src="__PUBLIC__/Home/js/fn.js" type="text/javascript"></script>
	<script type="text/javascript">
		window.onload=function(){
			var showBtn=document.getElementsByClassName('show');
			var con=document.getElementsByClassName('con');
			var bool=true;
			for(var i=0;i<showBtn.length;i++){
				showBtn[i].index=i;
				showBtn[i].onclick=function(){
					if(bool){
						con[this.index].className+=" hide";
					}else{
						con[this.index].classList.remove('hide');
					}
					bool=!bool;
				}
			}
			
			silider();
		}
	</script>
</head>
<body>
	<div class="search inner">
		<form action="" method="post">
			<input type="text" name="" id="" placeholder="让学习成为一种习惯！" class="serBox"/>
			<select name="">
				<option value="">帖子</option>
				<option value="">用户</option>
				<option value="">板块</option>
			</select>
			<input type="submit" value="搜索" class="btn"/>
			<ul class="tags clearfix">
				<li>热搜：</li>
				<li><a href="#">PHP</a></li>
				<li><a href="#">明哥</a></li>
				<li><a href="#">Java</a></li>
				<li><a href="#">大数据</a></li>
				<li><a href="#">Python</a></li>
			</ul>
		</form>
	</div>
	<div class="banner inner clearfix">
		<div class="slider">
			<ul class="img_list">
		        <li class="img"><img src="__PUBLIC__/Home/images/20170729083208.jpg"/></li>
		        <li class="hide img"><img src="__PUBLIC__/Home/images/20170729083247.jpg" alt=""></li>
		        <li class="hide img"><img src="__PUBLIC__/Home/images/20171102023340.jpg" alt=""></li>
		        <li class="hide img"><img src="__PUBLIC__/Home/images/20170824010015.jpg" alt=""></li>
		        <li class="hide img"><img src="__PUBLIC__/Home/images/20171102023328.jpg" alt=""></li>
		    </ul>
		    <ol class="btn_list">
		        <li class="ac btn">1</li>
		        <li class="btn">2</li>
		        <li class="btn">3</li>
		        <li class="btn">4</li>
		        <li class="btn">5</li>
		    </ol>
		</div>
		<div class="sPic">
			<div><img src="__PUBLIC__/Home/images/lampt_1_20140529.jpg"/></div>
			<div><img src="__PUBLIC__/Home/images/lampt_2_20140529.jpg"/></div>
		</div>
		<div class="sPic">
			<div><img src="__PUBLIC__/Home/images/lampt_3.png"/></div>
			<div><img src="__PUBLIC__/Home/images/lampt_4.png"/></div>
		</div>
	</div>
	<div class="news inner"><img src="__PUBLIC__/Home/images/news_03.jpg"/></div>
	<foreach name="res1" item="v1">
	<div class="block inner">
		<div class="title">
			<i><img src="__PUBLIC__/Home/images/icon_07.jpg"/></i>
			<a href="#">:::. {$v1['name']} :::.</a>
			<i class="show"><img src="__PUBLIC__/Home/images/cate_fold.gif"/></i>
		</div>
		<div class="con ">
			<ul class="line clearfix">
				<foreach name="res2" item="v2">
					<if condition="$v2['pid'] == $v1['id']">
					<li>
						<div class="pic"><img src="__PUBLIC__/Admin/images/blogos/s_{$v2['blogo']}"/></div>
						<div class="text">
							<p><a href="__MODULE__/List/index/tid/{$v2['id']}" class="subject">{$v2['name']}</a></p>
							<p>主题:<span>10675</span>帖子:<span>94376</span></p>
							<p><a href="#" class="time">最后发帖: <span>2017-12-25 09:28</span></a></p>
						</div>
					</li>
					</if>
				</foreach>
			</ul>
		</div>
	</div>
	</foreach>
	<div class="block inner connect">
		<div class="title">
			<i><img src="__PUBLIC__/Home/images/icon_07.jpg"/></i>
			<a href="#">友情链接</a>
			<i class="show"><img src="__PUBLIC__/Home/images/cate_fold.gif"/></i>
		</div>
		<div class="con ">
			<div>
				<foreach name="linkRes" item="val">
				<a href="{$val['url']}" target="_blank">{$val['linkname']}</a>
				</foreach>
			</div>
		</div>
	</div>
	<div class="block inner online">
		<div class="title">
			<i><img src="__PUBLIC__/Home/images/icon_07.jpg"/></i>
			<a href="#" class="infor">在线用户 - 共 1333 人在线,29 位会员,1304 位访客,最多 4931 人发生在 2013-06-07 05:37</a>
			<i class="show"><img src="__PUBLIC__/Home/images/cate_fold.gif"/></i>
		</div>
		<div class="con ">
			<a href="#"><img src="__PUBLIC__/Home/images/3.gif"/><span>司令（管理员）</span></a>
			<a href="#"><img src="__PUBLIC__/Home/images/4.gif"/><span>连长（超版）</span></a>
			<a href="#"><img src="__PUBLIC__/Home/images/5.gif"/><span>排长（版主）</span></a>
			<a href="#"><img src="__PUBLIC__/Home/images/18.gif"/><span>教官</span></a>
			<a href="#"><img src="__PUBLIC__/Home/images/10.gif"/><span>新兵</span></a>
			<a href="#"><img src="__PUBLIC__/Home/images/6.gif"/><span>普通会员</span></a>
			<a href="#"><span class="open">[打开在线列表]</span></a>
		</div>
	</div>

</body>
</html>